html {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0 auto;
    padding-top: 40px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fafafa;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'JetBrains Mono', monospace;
}

#rock {
    background-image: url('img/the-rock.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -10;
    transition: opacity 0.5s ease;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
    width: max-content;
    height: max-content;
}

#play-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Remove absolute positioning */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    margin-top: 80px; /* Match .container's margin-top */
    width: 600px; /* Match .container's width */
    height: 400px;
    z-index: 10;

    border: 3px dashed grey;
    border-radius: 6px;
    background-color: rgba(220, 220, 220, 0.8);

    font-size: 28px;
}
#play-container:hover {
    cursor: pointer;
}

.blur {
    filter: blur(6px);
}
.no-opacity {
    opacity: 0;
}
.invisible {
    visibility: hidden;
}
.visible {
    opacity: 1;
}


#alert-box {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    margin-top: 80px; /* Match .container's margin-top */
    z-index: 10;
    box-sizing: border-box;
    
    width: 420px;
    height: 120px;
    background-color: white;
    border: 2px solid black;
    font-size: 14px;

    z-index: 9;
}

.alert-invisible {
    display: none !important;
}
.alert-visible {
    display: flex !important;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#alert-message {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 26px;
    flex-grow: 1;
    text-wrap: wrap;
}
#close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding: 2px 4px;
    background-color: rgb(243, 243, 243);
    border: none;
    box-sizing: border-box;
}
#close-button:hover {
    cursor: pointer;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: max-content;
}

.scoreboard p {
    margin: 0;
    padding: 10px 0;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

.input-container input {
    flex-grow: 1;
    border: 1px solid #ccc;
    height: 100%;
    padding: 0 6px;
    box-sizing: border-box;
}
input:focus {
    outline: none;
}

.input-container .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.input-container button {
    border: 1px solid grey;
    margin: 0;
    padding: 2px 8px;
    cursor: pointer;
    width: 68px;
    height: 100%;
    transition: 0.2s;
}

.input-container button:hover {
    background-color: #e1e3e4;
}


button:disabled,
button[disabled],
input[disabled]{
  cursor: not-allowed;
}