html {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'JetBrains Mono', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
    width: max-content;
    height: max-content;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: max-content;
}

.scoreboard p {
    margin: 0;
    padding: 10px 0;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 20px;
}

.input-container input {
    flex-grow: 1;
    border: 1px solid #ccc;
    height: 100%;
    padding: 0 6px;
    box-sizing: border-box;
}
input:focus {
    outline: none;
}

.input-container .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.input-container button {
    border: 1px solid grey;
    margin: 0;
    padding: 2px 8px;
    cursor: pointer;
    height: 100%;
}
